lake/
*.duckdb
outputs/
__pycache__/
.env
*.pyc
.DS_Store
venv/
.venv/
.ipynb_checkpoints/
*.egg-info/
dist/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
src/pipeline/uk-healthcare-big-data-pipeline.code-workspace
